###################################
# GENERAL
###################################
PROJECT_NAME=enterprise-chatgpt
ENVIRONMENT=production
TZ=America/Edmonton

###################################
# OPEN WEBUI
###################################
OPEN_WEBUI_PORT=3000

###################################
# LITELLM
###################################
LITELLM_PORT=4000
LITELLM_MASTER_KEY=super-secret-key

###################################
# vLLM
###################################
QWEN_MODEL=Qwen/Qwen3-14B
DEEPSEEK_MODEL=deepseek-ai/DeepSeek-Coder-V2-Lite-Instruct

QWEN_PORT=8000
DEEPSEEK_PORT=8001

HF_HOME=/root/.cache/huggingface

###################################
# FASTAPI
###################################
FASTAPI_PORT=8080
JWT_SECRET_KEY=change-this-super-secret

###################################
# POSTGRES
###################################
POSTGRES_DB=enterprise_chatgpt
POSTGRES_USER=admin
POSTGRES_PASSWORD=superpassword
POSTGRES_PORT=5432

###################################
# REDIS
###################################
REDIS_PORT=6379
