###################################
# GENERAL
###################################
PROJECT_NAME=enterprise-chatgpt
ENVIRONMENT=production
TZ=America/New_York

###################################
# OPEN WEBUI
###################################
OPEN_WEBUI_PORT=3000

###################################
# LITELLM
###################################
LITELLM_PORT=4000
LITELLM_MASTER_KEY=super-secret-key

###################################
# vLLM
###################################
QWEN_MODEL=Qwen/Qwen3-14B
DEEPSEEK_MODEL=deepseek-ai/DeepSeek-Coder-V2-Lite-Instruct

QWEN_PORT=8000
DEEPSEEK_PORT=8001

HF_HOME=/root/.cache/huggingface

###################################
# POSTGRES
###################################
POSTGRES_DB=enterprise_chatgpt
POSTGRES_USER=admin
POSTGRES_PASSWORD=superpassword
POSTGRES_PORT=5432

###################################
LANGFUSE_SECRET_KEY=sk-123214
LANGFUSE_PUBLIC_KEY=pk-123123
LANGFUSE_HOST=https://us.cloud.langfuse.com or your local/remote server